<table mat-table [dataSource]="listOffice" class="mat-elevation-z8 table">
  <!-- rowNumber Column -->
  <ng-container matColumnDef="rowNumber">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.rowNumber }}</td>
  </ng-container>

  <!-- Department Name Column -->
  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef>Department</th>
    <td mat-cell *matCellDef="let element">{{ element.organizationName }}</td>
  </ng-container>

  <!-- Office Column -->
  <ng-container matColumnDef="office">
    <th mat-header-cell *matHeaderCellDef>Office</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Person Column -->
  <ng-container matColumnDef="person">
    <th mat-header-cell *matHeaderCellDef>Person</th>
    <td mat-cell *matCellDef="let element">{{ element.contactPersonName }}</td>
  </ng-container>

  <!-- mobileNo Column -->
  <ng-container matColumnDef="mobileNo">
    <th mat-header-cell *matHeaderCellDef>MobileNo</th>
    <td mat-cell *matCellDef="let element">{{ element.mobileNo }}</td>
  </ng-container>

  <!-- district Column -->
  <ng-container matColumnDef="district">
    <th mat-header-cell *matHeaderCellDef>District</th>
    <td mat-cell *matCellDef="let element">{{ element.district }}</td>
  </ng-container>

  <!-- Update buttton Column -->
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>Update Info</th>
    <td mat-cell *matCellDef="let element">
      <button
        button
        mat-stroked-button
        color="accent"
        (click)="officeRowData(element)"
      >
        Update
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data found</td>
  </tr>
</table>
