.form-container {
    margin: 10px;
    display: flex;
    flex-direction: column;


    .office {
        margin-bottom: 5px;
        width: 300px;
    }

    .person {
        margin-top: 5px;
    }

    .action {
        align-self: center;
    }
}
mat-form-field {
    width: 100%;
}